<!DOCTYPE html>

    <html lang="en">
        <head>
            <meta name="viewport" content="initail-scale=1, width=device-width">
            <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
            <script defer src="https://pyscript.net/latest/pyscript.js"></script>
            <title>Powerball Simulator</title>
        </head>
        <body>
            <h1>Play here</h1>
            <form action="/calculate" method="POST">
                <input name="tickets" placeholder="How many tickets" type="number">
                <input name="drawings" placeholder="Number of drawings" type="number">
                <input type="submit" value="Calculate Win">
            </form>            
            <py-script src="lotterySim\app.py"></py-script>
        </body>
    </html>